*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: linear-gradient(45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
.emoji-card{
    width: 180px;
    height: 150px;
    border: 2px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   gap: 5px;
   border-radius: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: linear-gradient(45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   /* justify-content: space-between; */
   color: wheat;

}
#search_fields{
    width: 250px;
    height: 30px;
    border-radius: 10px;
}
.alises{
    font-size: 16px;
    text-align: center;
    font-family: cursive;
}
.emojies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
   
    /* justify-content: space-around; */
}
.emoji{
    font-size: 40px;
   
}
.emoji:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* width: 300px; */
}
.emojies{
    /* margin-left: 50%; */
    /* margin-right: 10%; */
}
h1{
    font-family: 'Times New Roman', Times, serif;
}